:root {
    --bg-color: #04080F;
    --text-color: #A1C6EA;
    --link-color: #507DBC;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font: 16px Sans-Serif;
}

nav, main, footer {
    margin: 10px;
}

/*nav menu*/

nav {
    padding-top: 5px;
    border: 1px solid var(--text-color);
}

nav ul {
    list-style: none;
    text-align: center;
    font-size: 175%;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

nav div div{
    display: flex;
    flex-direction: row-reverse;
}

nav div p {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
}

nav div div div {
    padding-left: 5px;
    padding-right: 5px;
}

nav ul li {
    margin: auto;
    scale: none;
    transition: scale 200ms;
    display: inline;
}

nav ul li:hover {
    scale: 125%;
    transition: scale 200ms;
}

@media screen and (max-width: 1100px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 10px;
    }
}

form section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

form section div {
    display: flex;
    flex-direction: row;
    padding: 10px;
}


/*links*/
a {
    border-color: var(--link-color);
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
    scale: none;
    transition: scale 200ms, background-color 500ms;
}

a p {
    padding-right: 5px;
    display: block;
}

a:hover {
    background-color: var(--link-color);
    scale: 125%;
    transition: scale 200ms, background-color 500ms;
}

/*main*/
main {
    flex: 1 0 auto;
    padding: 20px;
}

.video-list {
    max-width: 1500px;
    font-size: 30px;
}

.video-list ul {
    list-style: none outside none;
    padding: 0;
    text-align: center;
}

.video-list ul li {
    display: inline-block;
    margin: 1em;
    width: 10em;
    height: 10em;
    vertical-align: middle;
}

.video-list ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

form input {
    display: block;
}

.button {
    margin: 10px;
}

video {
    display: inline-block;
    width: max(50vw, 400px);
    height: max(28vw, 200px);
}

label {
    display: block;
}

/*footer*/
footer {
    border: 1px solid var(--text-color);
    text-align:right;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}

footer p {
    display: inline;
    vertical-align: middle;
}

h3 {
    display: inline-block;
    vertical-align: middle;
}

.icons {
    width: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}
